<h1>Assignment 1</h1>

<p>
    Name: Alberto Lucas <br>
    Class: Cisprog-6<br>
    Assignment: 1 - Using Jupyter Notebooks <br>
    Date: 11/08/2021 <br>
    Description: Using the data from Discussion 2, create a Jupyter Notebook that shows the code, the data (tables), and the discussion results that were listed in options A, B, C, and D 
</p>
<hr>

%%bash

#Note - Convert this cell from raw to code if tabulate is not installed
pip install tabulate

In [1]:
from tabulate import tabulate

In [2]:
#Staff Table
staffTable = [
    ["Name", "Year", "Semesters on Staff"],
    ["Rita",4,7],
    ["Natalie",4,7],
    ["Prasann",3,3],
    ["Ashwin",2,3],
    ["Haru",3,3],
    ["Wendy",3,3],
    ["Jackie",4,7],
    ["Vivrd",2,3],
    ["Olivia",4,4],
    ["Vishnu",4,3],
    ["Peter",2,2],
    ["Kyle",3,3],
    ["Jessie",4,5],
    ["Oscar",3,3],
    ["Yanay",4,9],
    ["Eddie",3,4],
    ["Katherine",4,10],
    ["Mei",3,2],
    ["Rohan",3,2],
    ["Noah",2,2],
    ["Sarah",3,2],
    ["Grace",4,3],
    ["Ellen",4,5]]

In [3]:
#Outputting Staff Table
print(tabulate(staffTable, headers='firstrow', tablefmt='fancy_grid'))

╒═══════════╤════════╤══════════════════════╕
│ Name      │   Year │   Semesters on Staff │
╞═══════════╪════════╪══════════════════════╡
│ Rita      │      4 │                    7 │
├───────────┼────────┼──────────────────────┤
│ Natalie   │      4 │                    7 │
├───────────┼────────┼──────────────────────┤
│ Prasann   │      3 │                    3 │
├───────────┼────────┼──────────────────────┤
│ Ashwin    │      2 │                    3 │
├───────────┼────────┼──────────────────────┤
│ Haru      │      3 │                    3 │
├───────────┼────────┼──────────────────────┤
│ Wendy     │      3 │                    3 │
├───────────┼────────┼──────────────────────┤
│ Jackie    │      4 │                    7 │
├───────────┼────────┼──────────────────────┤
│ Vivrd     │      2 │                    3 │
├───────────┼────────┼──────────────────────┤
│ Olivia    │      4 │                    4 │
├───────────┼────────┼──────────────────────┤
│ Vishnu    │      4 │                    3 │
├───────────┼────────┼──────────────────────┤
│ Peter     │      2 │                    2 │
├───────────┼────────┼──────────────────────┤
│ Kyle      │      3 │                    3 │
├───────────┼────────┼──────────────────────┤
│ Jessie    │      4 │                    5 │
├───────────┼────────┼──────────────────────┤
│ Oscar     │      3 │                    3 │
├───────────┼────────┼──────────────────────┤
│ Yanay     │      4 │                    9 │
├───────────┼────────┼──────────────────────┤
│ Eddie     │      3 │                    4 │
├───────────┼────────┼──────────────────────┤
│ Katherine │      4 │                   10 │
├───────────┼────────┼──────────────────────┤
│ Mei       │      3 │                    2 │
├───────────┼────────┼──────────────────────┤
│ Rohan     │      3 │                    2 │
├───────────┼────────┼──────────────────────┤
│ Noah      │      2 │                    2 │
├───────────┼────────┼──────────────────────┤
│ Sarah     │      3 │                    2 │
├───────────┼────────┼──────────────────────┤
│ Grace     │      4 │                    3 │
├───────────┼────────┼──────────────────────┤
│ Ellen     │      4 │                    5 │
╘═══════════╧════════╧══════════════════════╛

<h3>Table A</h3>
<hr>

In [4]:
#Creating Table A
dict = {}

#Count frequency of semesters
for row in staffTable[1:]:
    if row[1] in dict.keys():
        dict[row[1]][0] += 1
        dict[row[1]][1] += row[2]
    else:
        dict[row[1]] = [1, row[2]]

#Take averages and add data to table A
tableA = []
for key in dict:
    avg = dict[key][1] / dict[key][0]
    tableA.append([key, avg])

#Sort table by first element of each list
tableA = sorted(tableA, key=lambda x: x[0])

#Output table
print(tabulate(tableA, headers=['Year', 'Semesters on Staff'], tablefmt='fancy_grid'))

╒════════╤══════════════════════╕
│   Year │   Semesters on Staff │
╞════════╪══════════════════════╡
│      2 │              2.5     │
├────────┼──────────────────────┤
│      3 │              2.77778 │
├────────┼──────────────────────┤
│      4 │              6       │
╘════════╧══════════════════════╛

<h3>Table B</h3>
<hr>

In [5]:
#Creating Table B
tableB = []

#Filter staff table and change year 2 to Sophomore
for row in staffTable[1:]:
    if row[1] == 2:
        tableB.append([row[0], 'Sophomore'])

#Print table
print(tabulate(tableB, headers=['Name', 'Year'], tablefmt='fancy_grid'))

╒════════╤═══════════╕
│ Name   │ Year      │
╞════════╪═══════════╡
│ Ashwin │ Sophomore │
├────────┼───────────┤
│ Vivrd  │ Sophomore │
├────────┼───────────┤
│ Peter  │ Sophomore │
├────────┼───────────┤
│ Noah   │ Sophomore │
╘════════╧═══════════╛

<h3>Table C</h3>
<hr>

In [6]:
#Creating Table C
maxSemesters = 10
minSemesters = 2

#Filter data in Staff table into a set to remove duplicate coordinates
plots = set()
for row in staffTable[1:]:
    plots.add((row[1], row[2]))

#Plot data
print("Semesters on Staff Vs. Year\n")
for y in range(minSemesters, maxSemesters + 1):
    #Print leftmost column
    print('{0: <4}'.format(str(maxSemesters - y + minSemesters)), end='')

    #Print data on each row
    xVal = 2.0
    for x in range(5):
        if ((xVal, maxSemesters - y + minSemesters) in plots):
            print('{0: <5}'.format('*'), end='')
        else:
            print('{0: <5}'.format('-'), end='')
        xVal += 0.5
    print()

#Print bottom row
xVal = 2.0
print('{0: >6}'.format(xVal), end='')
for x in range(4):
    xVal += 0.5
    print('{0: >5}'.format(xVal), end='')

Semesters on Staff Vs. Year

10  -    -    -    -    *
9   -    -    -    -    *
8   -    -    -    -    -
7   -    -    -    -    *
6   -    -    -    -    -
5   -    -    -    -    *
4   -    -    *    -    *
3   *    -    *    -    *
2   *    -    *    -    -
   2.0  2.5  3.0  3.5  4.0

<h3>Table D</h3>
<hr>

In [7]:
#Create Table D
tableD = []

#Populate Table with 0's
for i in range(minSemesters, maxSemesters + 1):
    tableD.append([i, 0, 0, 0])

#Check each row in staff table and update Table D with data
for row in staffTable[1:]:
    tableD[row[2] - minSemesters][row[1] - 1] += 1

#Remove all empty rows
tableD = list(filter(lambda x: not(x[1] == 0 and x[2] == 0 and x[3] == 0), tableD))

#Print table
print(tabulate(tableD, headers=['Semesters on Staff', '2', '3', '4'], tablefmt='fancy_grid'))

╒══════════════════════╤═════╤═════╤═════╕
│   Semesters on Staff │   2 │   3 │   4 │
╞══════════════════════╪═════╪═════╪═════╡
│                    2 │   2 │   3 │   0 │
├──────────────────────┼─────┼─────┼─────┤
│                    3 │   2 │   5 │   2 │
├──────────────────────┼─────┼─────┼─────┤
│                    4 │   0 │   1 │   1 │
├──────────────────────┼─────┼─────┼─────┤
│                    5 │   0 │   0 │   2 │
├──────────────────────┼─────┼─────┼─────┤
│                    7 │   0 │   0 │   3 │
├──────────────────────┼─────┼─────┼─────┤
│                    9 │   0 │   0 │   1 │
├──────────────────────┼─────┼─────┼─────┤
│                   10 │   0 │   0 │   1 │
╘══════════════════════╧═════╧═════╧═════╛