<h1>Assignment 3</h1>

<p>
    Name: Alberto Lucas <br>
    Class: Cisprog-6<br>
    Date: 11/26/2021 <br>
    Description: Contains solutions to questions in assignment 3
</p>
<hr>

In [1]:
import pandas as pd

In [2]:
# Load dataset
df = pd.read_csv('imdb-1.csv')

In [3]:
# Q1: Find the rating of the highest-rated movie in the dataset.
highestRating = df['Rating'].max()
print("Rating of the highest-rated movie: " + str(highestRating))

Rating of the highest-rated movie: 9.2

In [4]:
# Q2: Find the earliest movie in the database
earliestYear = df['Year'].min()
earliestMovie = df[df['Year'] == earliestYear]['Title'].values[0]
print("Earliest movie in the database: " + earliestMovie)

Earliest movie in the database: The Kid

In [5]:
# Q3: Sort the table by rating and show the top 20
df.sort_values('Rating', ascending=False)[:20]

,Votes,Rating,Title,Year,Decade
22,1027398,9.2,The Godfather,1972,1970
53,1498733,9.2,The Shawshank Redemption,1994,1990
91,692753,9.0,The Godfather: Part II,1974,1970
105,384187,8.9,12 Angry Men,1957,1950
57,447875,8.9,"Il buono, il brutto, il cattivo (1966)",1966,1960
76,1473049,8.9,The Dark Knight,2008,2000
147,761224,8.9,Schindler's List,1993,1990
141,1074146,8.9,The Lord of the Rings: The Return of the King,2003,2000
224,1166532,8.9,Pulp Fiction,1994,1990
178,1099087,8.8,The Lord of the Rings: The Fellowship of the Ring,2001,2000
87,1177098,8.8,Fight Club,1999,1990
129,1073043,8.7,The Matrix,1999,1990
68,967389,8.7,The Lord of the Rings: The Two Towers,2002,2000
156,700283,8.7,Star Wars: Episode V - The Empire Strikes Back,1980,1980
189,770011,8.7,Star Wars,1977,1970
223,606395,8.7,One Flew Over the Cuckoo's Nest,1975,1970
81,1271949,8.7,Inception,2010,2010
103,644556,8.7,Goodfellas,1990,1990
98,206216,8.7,Shichinin no samurai,1954,1950
245,1078416,8.7,Forrest Gump,1994,1990

In [6]:
# Q4: Compute the average rating of movies
averageRating = df['Rating'].mean()
print("Average rating: " + str(averageRating))

Average rating: 8.265600000000001

In [7]:
# Q5: Compute the average rating of movies from the 1940s
averageRating1940s = df[df['Year'] == 1940]['Rating'].mean()
print("Average rating of movies from the 1940's: " + str(averageRating1940s))

Average rating of movies from the 1940's: 8.233333333333333

In [8]:
# Q6: Create a table called ninety_nine containing the movies that came out in the year 1999.
ninety_nine = df[df['Year'] == 1999]
print(ninety_nine)

       Votes  Rating            Title  Year  Decade
87   1177098     8.8       Fight Club  1999    1990
104   735056     8.4  American Beauty  1999    1990
115   630994     8.1  The Sixth Sense  1999    1990
129  1073043     8.7       The Matrix  1999    1990
149   672878     8.5   The Green Mile  1999    1990

In [9]:
# Q7: Find all the movies with a rating higher than 8.5. Put their data in a table called really_highly_rated
really_highly_rated = df[df['Rating'] > 8.5]
print(really_highly_rated)

       Votes  Rating                                              Title  Year  \
3     635139     8.6                                               Léon  1994
22   1027398     9.2                                      The Godfather  1972
47    767224     8.6                           The Silence of the Lambs  1991
53   1498733     9.2                           The Shawshank Redemption  1994
57    447875     8.9             Il buono, il brutto, il cattivo (1966)  1966
68    967389     8.7              The Lord of the Rings: The Two Towers  2002
70    689541     8.6                                       Interstellar  2014
76   1473049     8.9                                    The Dark Knight  2008
78    192206     8.6                            C'era una volta il West  1968
81   1271949     8.7                                          Inception  2010
87   1177098     8.8                                         Fight Club  1999
91    692753     9.0                             The Godfather: Part II  1974
96    656756     8.6                                 The Usual Suspects  1995
98    206216     8.7                               Shichinin no samurai  1954
103   644556     8.7                                         Goodfellas  1990
105   384187     8.9                                       12 Angry Men  1957
129  1073043     8.7                                         The Matrix  1999
141  1074146     8.9      The Lord of the Rings: The Return of the King  2003
147   761224     8.9                                   Schindler's List  1993
156   700283     8.7     Star Wars: Episode V - The Empire Strikes Back  1980
169   895411     8.6                                              Se7en  1995
178  1099087     8.8  The Lord of the Rings: The Fellowship of the Ring  2001
189   770011     8.7                                          Star Wars  1977
204   358305     8.6                                    La vita è bella  1997
213   242353     8.6                              It's a Wonderful Life  1946
223   606395     8.7                    One Flew Over the Cuckoo's Nest  1975
224  1166532     8.9                                       Pulp Fiction  1994
242   476501     8.6                                     Cidade de Deus  2002
245  1078416     8.7                                       Forrest Gump  1994

     Decade
3      1990
22     1970
47     1990
53     1990
57     1960
68     2000
70     2010
76     2000
78     1960
81     2010
87     1990
91     1970
96     1990
98     1950
103    1990
105    1950
129    1990
141    2000
147    1990
156    1980
169    1990
178    2000
189    1970
204    1990
213    1940
223    1970
224    1990
242    2000
245    1990

In [10]:
# Q8: Find the average rating for movies released in the 20th century and the average rating for movies released 
# in the 21st century for the movies in imdb.
average20thCentury = df[(df['Decade'] > 1900) & (df['Decade'] <= 2000)]['Rating'].mean()
average21stCentury = df[df['Decade'] > 2000]['Rating'].mean()

print("Average rating of movies released in the 20th century: " + str(average20thCentury))
print("Average rating of movies released in the 21st century: " + str(average21stCentury))

Average rating of movies released in the 20th century: 8.274208144796381
Average rating of movies released in the 21st century: 8.200000000000001

In [11]:
# Q9: Use number of rows and arithmetic to find the proportion of movies in the dataset that were released in 
# the 20th century, and the proportion from the 21st century.

# 20th Century
totalCentury = len(df[df['Decade'].between(1901, 2000)])
proportion = totalCentury / len(df)
print("Proportion of movies released in the 20th century: " + str(proportion))

# 21st Century
totalCentury = len(df[df['Decade'] > 2000])
proportion = totalCentury / len(df)
print("Proportion of movies released in the 21st century: " + str(proportion))

Proportion of movies released in the 20th century: 0.884
Proportion of movies released in the 21st century: 0.116