<h1>Assignment 4</h1>

<p>
    Name: Alberto Lucas <br>
    Class: Cisprog-6<br>
    Date: 11/29/2021 <br>
    Description: Contains solutions to questions in assignment 4. Cleans a CSV file named olympics.csv in a <br>
    step-by-step process.
</p>
<hr>

In [1]:
import pandas as pd

In [2]:
# Load dataset
filename = "olympics"
df = pd.read_csv(filename + ".csv")

<p>
    <br>
    <strong> 1)</strong> The following code fixes the names of the columns in the dataframe. This is done by replacing the first row       <br>of numbers with the actual names of the columns. It also gives the columns with countries the name of      "Country"
</p>
<hr>

In [3]:
updatedColNames = df.iloc[0] # save the first row in the df (column names)
df = df[1:] # Remove the header row from the df
df.columns = updatedColNames # Set the saved column name list as the new column names
df.rename(columns={ df.columns[0]: "Country" }, inplace = True)

<p>
    <br>
    <strong> 2)</strong> The following code replaces empty values with '0' <br>
    Empty values are assumed to be 0 wins, making the data consistent with the other cells
</p>
<hr>

In [4]:
df.fillna(0, inplace = True)

<p>
    <br>
    <strong> 3)</strong> The following code removes duplicate rows from the data <br>
</p>
<hr>

In [5]:
df.drop_duplicates(inplace = True)

<p>
    <br>
    <strong> 4)</strong> The following code removes rows where the total olympic wins are 0, as they do not contribute to the <br>
    running sum in the final row.
</p>
<hr>

In [6]:
df = df[df['Combined total'] != 0]

<p>
    <br>
    <strong> 5)</strong> The following code updates the column names by removing the '?' and '!' chars. This <br> 
    will make it easier to refer to the columns in the code.
</p>
<hr>

In [7]:
df.columns = ['Country', 'Summer', '01s', '02s', '03s', 'Total s', 'Winter', '01w', '02w', '03w', 'Total w', 'Games', '01g', '02g', '03g', 'Combined total']

<p>
    <br>
    <strong> 6)</strong> The following code corrects the data types of all the values in the columns to ints. By<br>
    doing so, math can be applied to the data.
</p>
<hr>

In [8]:
df = df.astype({'Summer':int, '01s':int, '02s':int, '03s':int, 'Total s':int, 'Winter':int, '01w':int, '02w':int, '03w':int, 'Total w':int, 'Games':int, '01g':int, '02g':int, '03g':int, 'Combined total':int})

<p>
    <br>
    <strong> 7)</strong> The following code corrects the last row with the updated totals. The old row is deleted <br> and a new row with updated totals is added
<hr>

In [9]:
df.drop(df.tail(1).index,inplace=True)
df.loc['Total']= df.sum(numeric_only=True, axis=0)

<p>
    <br>
    <strong> 8)</strong> The following code corrects the last row with the updated totals. The old totals column <br>
    is deleted and a new one is added with updated totals.
<hr>

In [10]:
df.drop(df.columns[len(df.columns)-1], axis=1, inplace=True)
column_list = ['Total s', 'Total w']
df["Combined Total"] = df[column_list].sum(axis=1)

<p>
    <br>
    The final CSV file with cleaned data
<hr>

In [11]:
df.to_csv((filename + "Cleaned.csv"), index=False)
df

,Country,Summer,01s,02s,03s,Total s,Winter,01w,02w,03w,Total w,Games,01g,02g,03g,Combined Total
1,Afghanistan (AFG),13.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,2.0,2.0
2,Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
3,Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
4,Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
5,Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Independent Olympic Participants (IOP) [IOP],1.0,0.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,3.0
144,Zambia (ZAM) [ZAM],12.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,1.0,1.0,2.0
145,Zimbabwe (ZIM) [ZIM],12.0,3.0,4.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,13.0,3.0,4.0,1.0,8.0
146,Mixed team (ZZX) [ZZX],3.0,8.0,5.0,4.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,5.0,4.0,17.0
Total,NaN,1954.0,4809.0,4775.0,5130.0,14714.0,963.0,959.0,958.0,948.0,2865.0,2917.0,5768.0,5733.0,6078.0,17579.0